body {
    /*background: url('3dogs.jpg') no-repeat center center fixed;*/

    background: url('backgrundsbild.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    cursor: pointer;
    font-family:'Comfortaa', cursive !important;
  }