<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="myProfile.css">
    <link rel="shortcut icon" href="pug2.jfif" type="image/x-icon">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand"><img style="height: 75px;" src="DogsInnLogo.png" alt=""/></a>
        <button class="navbar-toggler" data-bs-toggle="collapse"
                data-bs-target="#nav" aria-controls="nav" aria-label="Expand
            Navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav">
                <li>
                    <a href="/" class="nav-link active">Startsida</a>
                </li>
                <li>
                    <a href="/booking" class="nav-link active">Bokning</a>
                </li>
                <li>
                    <a href="/editMyProfile" class="nav-link active">Ändra profil</a>
                </li>
                <li>
                    <a href="/logout" class="nav-link active">Logga ut</a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link disabled text-light" th:text="${session.ownerName}" ></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container d-flexjustify-content-around" style="width: 36%;margin-top: 4%; margin-block-end: auto;">
<div class="card" style="width: 32rem;">
    <img src="oscarmy.jpg" class="card-img-top" alt="...">
    <div class="card-body">

        <div style="margin-top: - 29px !important;">
        <h1 th:text="'Välkommen till din profil: ' + ${session.ownerName}"></h1>
        </div>
        <p>Dina aktuella bokningar:</p>
        <div th:each="booking : ${session.bookingString}">
            <div th:text="${booking}"></div>
        </div>
    </div>

</div>
</div>
</body>
</html>